li {
background-color: rgb(170, 165, 165);
padding: 6px;
border-radius: 5px;
color: black;
width: 100%;
list-style-type: none;
margin-top: 20px;
text-align: center;
cursor: pointer

}

ul{
    padding-left: 0;
    margin-top: 20px;
    border-top: 0.5px solid lightgrey;
}

.custom-h3{
    color: black;
    font-weight: bold;
}


.custom-header{
    /* background-color: rgb(44, 1, 44); */
    background-image: linear-gradient(to right, rgb(55, 87, 228), rgb(1, 0, 68));
}

.custom-card{
    background-color: rgb(23, 23, 56);
}

.city-name{
    font-weight: bold;
}

.current-weather{
    /* border: 1px solid black; */
    padding-left: 5px;
}

.current-weather-active{
    border: 1px solid black;
}


.current-temp{
    margin-top: 30px;
}

.values{
    color:white;
}

.btn{
    cursor: pointer
}

.icon{
    
}